.card {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 6px $gray-200;
  overflow: hidden;

  p {
    margin: 0;
  }

  &-image-container {
    overflow: hidden;
  }

  &-name {
    font-size: 1.25rem;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    padding: 1rem;
  }

  &-image {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;

    &:hover {
      transform: scale(1.15);
    }
  }
}
