.gyorsitok {
  &-title {
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    margin: 2rem 0;
  }

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;

    @media (max-width: 767px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 497px) {
      grid-template-columns: none;
    }
  }
}
