body {
  overflow-x: hidden;
  z-index: -1;
  background-color: $coolGray-200;
}

main {
  margin-inline: auto;
  padding-top: 1rem;
  margin-top: 4rem;
  font-family: 'Roboto', sans-serif;
  color: $black;
}

p {
  line-height: 1.4;
  margin-bottom: 0.25rem;
  color: $coolGray-600;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  width: 50%;
  margin-inline: auto;

  @media (max-width: 1600px) {
    width: 55%;
  }

  @media (max-width: 1356px) {
    width: 65%;
  }

  @media (max-width: 1024px) {
    width: 80%;
  }
}
